.*.swp
.*.swo
*.files
*.user
*/bin/
*.o
*.a
*.autosave
*.aux
*.loc
*.out
*.log
*.bin
moc_*
protocol/test/testDynamicBitset/testDynamicBitset
Makefile
protocol/protocol
protocol/test/testDynamicBitset/testDynamicBitset
procotol/test/testnetinterpreter/
protocol/test/testnetstream/testnetstream
protocol/test/testSdcpInterpreter/testSdcpInterpreter
protocol/test/testVipInterpreter/testVipInterpreter
protocol/test/testnetinterpreter/testNetInterpreter
build/
