.*.swp
.*.swo
*.files
*.includes
*.user
*.creator
*/bin/
*.o
*.autosave
moc_*
protocol/test/testDynamicBitset/testDynamicBitset
Makefile
protocol/protocol
protocol/test/testDynamicBitset/testDynamicBitset
procotol/test/testnetinterpreter/
protocol/test/testnetstream/testnetstream
