.*.swp
.*.swo
*.files
*.includes
*.user
*.creator
*/bin/
*.o
*.a
*.autosave
*.aux
*.loc
*.out
*.log
moc_*
protocol/test/testDynamicBitset/testDynamicBitset
Makefile
protocol/protocol
protocol/test/testDynamicBitset/testDynamicBitset
procotol/test/testnetinterpreter/
protocol/test/testnetstream/testnetstream
protocol/test/testSdcpInterpreter/testSdcpInterpreter
